BasedOnStyle: 'Chromium'
IndentWidth: 4
AccessModifierOffset: -2
IncludeBlocks: Regroup

# for competitive programming
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: false
