# ルール

## ユニットテスト

- unittest周りを修正した後はきちんと実行して試してください。`test/run_unittest.sh`で実行できます
- 新しくテストファイルを追加した場合は、`test/CMakeLists.txt`に追記する必要があります

## コーディングポリシー

- インクルードガードには `pragma once` を使用します
- `EXPECT_EQ` を `ASSERT_EQ` より好みます
- `++i` より `i++` を好みます
- `public:` の後ろに `private:` を書きます。基本的に `protected:` は使いません
