# ルール

## ユニットテスト

- unittest周りを修正した後はきちんと実行して試してください。`test/run_unittest.sh`で実行できます
- 新しくテストファイルを追加した場合は、`test/CMakeLists.txt`に追記する必要があります

## コーディングポリシー

- インクルードガードには `pragma once` を使用します
- 基本的には `EXPECT_EQ` を `ASSERT_EQ` より好みます
